= simple_form_for(@message) do |f|
  = f.error_notification

  .form-inputs
    = f.association :receiver
    = f.association :my_process
    = f.input :message

  .form-actions
    = f.button :submit
