- if current_user.role? :admin
  = simple_form_for task do |f|
    .form-inputs
      .row
        .col-xs-12.col-md-6
          = f.input :name
          = f.input :address
          = f.input :link
          = f.association :my_process, as: :hidden
          = f.input :description, input_html: {class: 'width-100', style: 'height: 77px'}
        .col-xs-12.col-md-6
          = f.input :priority, collection: (1..10).to_a, include_blank: '-- Select priority --'
          = f.association :roles, as: :check_boxes, roles: 'Roles'
          = f.association :waiting_for_tasks, as: :check_boxes, collection: task.can_wait_for
    %hr
    .form-actions
      = link_to 'Close', task.my_process, class: 'btn btn-default'
      = f.button :submit, class: 'btn btn-primary pull-right'
      .clearfix
- else
  = simple_form_for task do |f|
    %table.table
      %tr
        %td Start
        %td= "#{task.actual_start || '-'}"
      %tr
        %td End
        %td= "#{task.actual_end || '-'}"
      %tr
        %td Description
        %td= task.description
      %tr
        %td Link
        %td
          - if task.link
            = link_to task.link, task.link
    = link_to 'Close', task.my_process, class: 'btn btn-default'
    - if task.actual_start.present?
      = link_to 'End task', finish_task_path(task), class: "btn btn-primary pull-right #{'disabled' if task.actual_end.present?}"
    - else
      = link_to 'Start task', begin_task_path(task), class: 'btn btn-primary pull-right'
