- if current_user.role? :admin
  = simple_form_for task do |f|
    .form-inputs
      %h3= "#{f.object.id}) #{f.object.name}"
      .row
        .col-xs-12.col-md-6
          = f.input :name
          = f.input :responsible_user, disabled: true, input_html: {class: 'disable'}
          = f.input :address
          = f.input :link, label: 'Admin Link'
          = f.input :description, input_html: {class: 'width-100', style: 'height: 77px'}, label: 'Admin Description'
          = f.input :work_link
          = f.input :work_description, input_html: {class: 'width-100', style: 'height: 77px'}
          = f.association :my_process, as: :hidden
          %b Waiting for:
          = f.object.waiting_for_tasks.pluck :name
          %br
          %b Tasks waiting:
          = f.object.tasks_waiting.pluck :name
        .col-xs-12.col-md-6
          = f.input :priority, collection: (1..10).to_a, include_blank: '-- Select priority --'
          = f.association :roles, as: :check_boxes, roles: 'Roles'
          = f.association :waiting_for_tasks, as: :check_boxes, collection: task.can_wait_for
    %hr
    .form-actions
      = link_to 'Close', '#', class: 'btn btn-default close-task-form'
      = f.button :submit, class: 'btn btn-primary pull-right'
      .clearfix
- else
  = simple_form_for task do |f|
    %h3= "#{f.object.id}) #{f.object.name}"
    %table.table{style: 'margin-bottom: 0'}
      %tr
        %td Start
        %td= "#{task.actual_start || '-'}"
      %tr
        %td End
        %td= "#{task.actual_end || '-'}"
      %tr
        %td Admin escription
        %td= task.description
      %tr
        %td Admin Link
        %td
          - if task.link
            = link_to task.link, task.link
      %tr
        %td Work Link
        %td= f.input :work_link, label: false
      %tr
        %td Work Description
        %td= f.input :work_description, label: false, input_html: {style: 'width: 100%'}
    = f.submit class: 'btn btn-default pull-right'
    .clearfix
    %hr
    = link_to 'Close', '#', class: 'btn btn-default close-task-form'
    - if task.actual_start.present?
      = link_to 'End task', finish_task_path(task), class: "btn btn-primary pull-right #{'disabled' if task.actual_end.present?}"
    - else
      = link_to 'Start task', begin_task_path(task), class: 'btn btn-primary pull-right'
