= simple_form_for(@task) do |f|
  .form-inputs
    = f.association :my_process, as: 'hidden'
    = f.association :responsible_user
    = f.input :name
    = f.input :description
    = f.input :address
    = f.input :starts_at
    = f.input :ends_at
    
  .form-actions
    = f.button :submit
