.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "pin-modal-#{pin[:id]}"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true", "id" => "close-multiple-tasks"} ×
        %h4#myModalLabel.modal-title.inline-block= "#{pin[:task_count]} Tasks"
      .modal-body
        %ul
          - pin[:tasks].each do |task|
            %li= link_to "#{task.relative_id}) #{task.name}", "javascript: showTaskForm(#{task.id });$('#close-multiple-tasks').click();"
