<!-- http://visjs.org/docs/timeline/ -->
<div id="visualization"></div>

<script type="text/javascript">
  dataSet = []
  <% to_timeline(tasks).each do |point| %>
    <% if Task.find(point[:id].to_i).visible_for(@current_user) %>
      dataSet.push({
        id: <%= point[:id] %>,
        start: new Date(<%= point[:assigned_start].year %>, <%= (point[:assigned_start]-1.month).month %>, <%= point[:assigned_start].day %>, <%= point[:assigned_start].hour %>, <%= point[:assigned_start].min %>),
        end: new Date(<%= point[:assigned_end].year %>, <%= (point[:assigned_end]-1.month).month %>, <%= point[:assigned_end].day %>, <%= point[:assigned_end].hour %>, <%= point[:assigned_end].min %>),
        content: "<%= point[:content] %>",
        className: "<%= point[:visible_status] %>"
      })
    <% end %>
  <% end %>
  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  // Create a DataSet (allows two way data-binding)
  var items = new vis.DataSet(dataSet);

  // Configuration for the Timeline
  var options = {};

  // Create a Timeline
  var timeline = new vis.Timeline(container, items, options);
  timeline.on('click', function(event){
    task_id = event['item'];
    if(task_id != null) {
      <% if current_user.role?(:admin) %>
        $("#edit-task-"+task_id).click();
      <% else %>
        target = $(event['event']['firstTarget']);
        if(target.parents('.blocked').length == 0) {
          $("#edit-task-"+task_id).click();
        }
      <% end %>
    }
  });
  
</script>

