<div id="map" class="map"></div>
<script type="text/javascript">
  function initAutocomplete() {
    var map = new google.maps.Map(document.getElementById("map"), {
      center: {lat: parseFloat("<%= center[:lat] %>"), lng: parseFloat("<%= center[:lng] %>")},
      zoom: 13
    });

    var markers = [];

    <% pins.each do |pin| %>
      new_marker = new google.maps.Marker({
        position: {lat: parseFloat("<%= pin[:location][:latitude] %>"), lng: parseFloat("<%= pin[:location][:longitude] %>")},
        map: map,
        label: "<%= pin[:title] %>",
        title: "<%= pin[:title] %>"
      });
      markers.push(new_marker);
      new_marker.addListener('click', function() {
        if("<%= pin[:task_count] %>" == "1") {
          showTaskForm("<%= pin[:tasks][0].id %>");
        }
        else {
          $("#pin-<%= pin[:id] %>").click();
        }
      });
    <% end %>

    // Create the search box and link it to the UI element.
    var input = document.getElementById('pac-input');
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    var bounds = new google.maps.LatLngBounds();
    for (var i = 0; i < markers.length; i++) {
      bounds.extend(markers[i].getPosition());
    }

    map.fitBounds(bounds);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQLHznYx6UKpxcAAsWKXc2vMyL_TRRV6g&callback=initMap&libraries=places&callback=initAutocomplete" defer></script>

