= simple_form_for @waiting do |f|
  .form-inputs
    = f.association :task, as: :hidden
    = f.association :waiting, collection: @waitable_tasks, include_blank: false, label: false, input_html: {class: 'block width-100'}
  %hr
  .form-actions
    = link_to 'Cancel', @task.my_process, class: 'btn btn-default'
    = f.button :submit, class: 'btn btn-primary pull-right'
