= simple_form_for(@waiting) do |f|
  = f.error_notification

  .form-inputs
    = f.association :task
    = f.association :waiting, collection: @waitable_tasks

  .form-actions
    = f.button :submit
