= simple_form_for(@my_process) do |f|
  .form-inputs
    = f.input :name
    = f.input :hashtag

  %hr
  
  .form-actions
    = link_to 'Cancel', @my_process, class: 'btn btn-default'
    = f.button :submit, class: 'btn btn-primary pull-right'
    .clearfix
