.header
  %h1.no-margin.inline-block Work to do
  .pull-right
    %label: Order:
    = link_to 'Best Route', my_process_path(order: 'distance'), class: "btn btn-xs #{'btn-primary' if params[:order]== 'distance'}"
    = link_to 'Priority', my_process_path(order: 'priority'), class: "btn btn-xs #{'btn-primary' if params[:order]== 'priority'}"
    = link_to 'Time', my_process_path(order: 'assigned_at'), class: "btn btn-xs #{'btn-primary' if params[:order]== 'assigned_at'}"
  .clearfix
.mt-lg
  - Task.order_by(@my_process.tasks.visibles_for(current_user), order: params[:order], ip: request.ip).each_with_index do |task, index|
    .task-block.vis-item.work-to-do-item{class: "#{visible_status(task)} #{'doable' if task.doable?(current_user)}", data: {'task-id'=>task.id}}
      = "#{task.id}) #{task.name} #{task.waitings_to_s}"
      %br
      %small
        = task.address
        = " | coordinates: (#{task.latitude.round(3)}, #{task.longitude.round(3)})"
