%h1 Listing my_processes

%table.table
  %thead
    %tr
      %th Asker
      %th Process type
      %th Provider
      %th Address
      %th Latitude
      %th Longitude
      %th Starts at
      %th Created at
      %th
      %th
      %th

  %tbody
    - @my_processes.each do |my_process|
      %tr
        %td= my_process.user
        %td= my_process.process_type
        %td= my_process.process_type.user
        %td= my_process.address
        %td= my_process.latitude
        %td= my_process.longitude
        %td= my_process.starts_at
        %td= my_process.created_at
        %td= link_to 'Show', my_process
        %td= link_to 'Edit', edit_my_process_path(my_process)
        %td= link_to 'Destroy', my_process, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New My process', new_my_process_path
