.center.center-text
  %h1 Ask for something

  = simple_form_for(@my_process) do |f|
    .form-inputs
      = f.association :process_type, label: 'What do you want?'
      = f.input :address, label: 'Where?'
      = f.input :starts_at, label: 'When?'

    .form-actions
      = f.button :submit, 'Submit'
