.center
  %h1 Ask for something

  = simple_form_for(@my_process) do |f|
    .form-inputs.mt-lg
      = f.association :process_type, label: 'What do you want?', include_blank: false
      = f.input :address, label: 'Where?'
      = f.input :starts_at, label: 'When?'

    %hr
    .form-actions
      = f.button :submit, 'Submit', class: 'btn btn-primary btn-block'
