.row
  .col-sm-4
    .list-group
      - @my_processes.each do |my_process|
        = link_to my_process, class: "list-group-item #{'active' if my_process == @my_process}" do
          = my_process.process_type.name
          %br
          %small
            = my_process.user
            %br
            %span= my_process.address
            %span= " | " 
            %span= datetime my_process.starts_at
  .col-sm-8
    = link_to 'Edit', edit_my_process_path(@my_process), class: 'pull-right'
    %p
      %b Process type:
      = @my_process.process_type
    %p
      %b Requested by:
      = @my_process.user
    %p
      %b Address:
      = @my_process.address
    %p
      %b Starts at:
      = datetime @my_process.starts_at
    %p
      %b Twitter status:
      = link_to "##{@my_process.hashtag}", @my_process.twitter_status_url, target: '_blank'
    %h2 Tasks timeline
    = render 'timeline/timeline', timeline: @my_process.tasks_timeline
    %h2 Tasks locations
    - if @my_process.tasks_locations.any?
      = render 'google_maps/map', locations: @my_process.tasks_locations, center: @my_process.tasks_center
    %h2 Tasks
    - if @my_process.tasks.order("starts_at ASC").any?
      %table.table
        %tr
          %th ID
          %th Name
          %th Starts at
          %th Ends at
          %th Address
          %th Responsible
          %th 
          %th 
          %th 
        - @my_process.tasks.each do |task|
          %tr
            %td= task.id
            %td= task.name
            %td= datetime task.starts_at
            %td= datetime task.ends_at
            %td= task.address
            %td= task.responsible_user
            %td= link_to '+ Wait for', new_waiting_path(task_id: task.id)
            %td= link_to 'Edit', edit_task_path(task)
            %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }
    = link_to '+ Add task', new_task_path(my_process_id: @my_process.id)
    %h2 Messages
    %table.table
      %thead
        %tr
          %th Created at
          %th Sender
          %th Receiver
          %th Message
      %tbody
        - @my_process.messages.order('created_at ASC').each do |message|
          %tr
            %td= message.created_at.strftime("%Y/%m/%d %H:%m")
            %td= message.sender
            %td= message.receiver
            %td= message.message
    = link_to '+ Add message', new_message_path(my_process_id: @my_process.id)
