.row
  .col-xs-12
    = render 'my_processes/work_to_do'
    .mt-md
      .can-be-done.inline-block.mr-md Can be done
      .in-progress.inline-block.mr-md In progress
      .cannot-be-done.inline-block.mr-md Ended / Waiting other tasks
.row.mt-lg
  .col-sm-0#my-process-left-bar
    - @my_process.tasks.each do |task|
      .hidden.task-form{id: "task-#{task.id}-form"}
        = render 'tasks/form', task: task
  .col-sm-12#my-process-content
    = render :partial => 'google_maps/map', :locals => {:pins => pins(@my_process.tasks.visibles_for(current_user)), :center => @my_process.tasks_center}
    - pins(@my_process.tasks).each do |pin|
      - if(pin[:task_count] > 1)
        = link_to 'pin', '#', {"data-target" => "#pin-modal-#{pin[:id]}", "data-toggle" => "modal", :type => "button", 'class' => 'hidden', 'id' => "pin-#{pin[:id]}"}
        = render 'shared/pin_modal', pin: pin
    = link_to 'add task', '#', {"data-target" => "#task-modal-0", "data-toggle" => "modal", :type => "button", 'class' => 'hidden', 'id' => 'add-task'}
    = render 'shared/form_modal', object: @my_process.tasks.new(id: 0)
    - @my_process.tasks.each do |task|
      = link_to 'edit task', '#', {"data-target" => "#task-modal-#{task.id}", "data-toggle" => "modal", :type => "button", 'class' => 'hidden', 'id' => "edit-task-#{task.id}"}
      = render 'shared/form_modal', object: task
    .timeline.mt-lg
      .mb-md
        = link_to request.original_url, class: 'btn btn-primary btn-xs pull-right' do
          %i.glyphicon.glyphicon-refresh
          Refresh
        .clearfix
      = render 'timeline/timeline', tasks: @my_process.tasks, id: 'visualization'
    .hidden
      %h2 Tasks
      - @my_process.tasks.order("assigned_start ASC").each do |task|
        .task.relative{id: "task-#{task.id}"}
          = link_to '#', {"data-target" => "#task-modal-#{task.id}", "data-toggle" => "modal", :type => "button"} do
            %h3.no-margin= task.name
          %p= "Responsible: #{task.responsible_user || '-'}"
          .waitings.mb-md
            Waiting for:
            - task.waitings.each do |waiting|
              %span.label.label-default.mr-sm{id: "waiting-#{waiting.id}"}
                = waiting.waiting.name
                = link_to '#', class: 'white-link destroy-waiting', data: {id: waiting.id} do
                  %i.glyphicon.glyphicon-remove
          = link_to '+ Wait for', new_waiting_path(task_id: task.id), class: 'btn btn-default btn-xxs'
          .top-right
            = render 'shared/modal', task: task
            %button.btn.btn-default.btn-xs{"data-target" => "#task-modal-#{task.id}", "data-toggle" => "modal", :type => "button", id: "edit-task-#{task.id}"}
              Edit
            = link_to task, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-default btn-xs' do
              %i.glyphicon.glyphicon-trash
          .clearfix
